<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LocalPhotos</title>
  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <style>
    body {
      background: #101010;

    }
    .photo {
      width: 100%;
      height: auto;
      max-height: 100%;
      max-width: 100%;
    }
  </style>
</head>
<body>
  <a href="next">
    <img src="/static/photos/{{ photo_url }}" class="photo">
  </a>
  <script>
        
  </script>
</body>
</html>
